<!DOCTYPE html>
<html>
	<head>
		<title>Khatna Circles</title>
		
		<link rel="stylesheet" type="text/css" href="stylesheets/circles.css">
		<link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree" rel="stylesheet">
		
		<script type="text/javascript" src="/paper-full.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.13/howler.js"></script>
		
		<script type="text/paperscript" canvas="myCanvas" src="/animate.js"></script>
	</head>
	<body>
		<!--<h1 id="msg">press a key</h1>-->
		<canvas id="myCanvas" resize="true"></canvas>
		<div class="footer"><label>KHATNA BOLD 2018</label></div>
	</body>
	<script type="text/javascript" src="/circles.js"></script>
</html>