body, html {
	font-family: 'Bai Jamjuree', sans-serif;
	height: 100%;
	margin: 0;
	background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #243B55, #141E30);
    background: -moz-linear-gradient(left, #243B55, #141E30);
    background: -o-linear-gradient(left, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);
}	

.footer {
	width: 100%;
	height: 3%;
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	text-align: center;
}

.hidden {
	display: none;
}

#msg {
	color: white;
	text-align: center;
}

#myCanvas {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 97%;
}					


