body {
	font-family: 'Bai Jamjuree', sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
}

button {
	font-family: inherit;
	font-size: 15px;
	font-weight: bold;
	color: black;
	background: none;
	border: none;
	border-radius: 4px;
	margin: 10px;
	padding: 6px 12px;
	outline: none;
	position: absolute;
	z-index: 0;
	transition: 0.2s;
}

button.bandw {
	color: grey;
}

button:hover {
	background: grey;
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
}

.footer {
	position: absolute;
	z-index: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(128, 128, 128);
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	text-align: center;
}

#myCanvas {
	background: #fce9e6;
    background: -webkit-linear-gradient(to right, #fce9e6, #ffffff);
    background: linear-gradient(to right, #fce9e6, #ffffef);
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	transition: 0.3s;
}							
	
#myCanvas.bandw {
	background: #000000;
}							
	

